<div class="badge">
  
<button mat-raised-button color="primary" matBadge="6" matBadgeColor="warn" matBadgeOverlap="true">Messages</button>

</div>

<div class="badge1">
    <mat-icon matBadge="6" matBadgeColor="warn" matBadgeOverlap="true" >shopping_cart</mat-icon>
</div>

<div class="badge">
    <button  mat-raised-button  matBadge="7" [matBadgeHidden]="hidden" (click)="onclickhide()" >Hide</button>
</div>

<button class="btn" mat-raised-button color="primary" [routerLink]="['/spinner']">go to spinner</button>

