:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }



.badge{
    margin: 80px;
   
}
.badge1{
    margin: 80px;
    cursor: pointer;
}
.btn{
    margin: 50px;
}


