<!-- <mat-form-field appearance="fill" style="width: 400px;">
    <mat-label>Enter a date range</mat-label>
     <input matInput [matDatepicker]="picker">
    <mat-hint>Date format should be DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle  [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> -->
  <mat-divider></mat-divider>
  <mat-form-field style="margin: 40px;" appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button (click)="picker.open()">Open</button>
  <hr>
  <mat-card style="width: 300px;">
    <mat-calendar [(selected)]="selected"></mat-calendar>
  </mat-card>
  <p>Selected date: {{selected}}</p>
  <mat-divider></mat-divider>
  <button style="margin: 30px;" mat-raised-button color="primary" [routerLink]="['/grid']">go to grid</button>
