<div>
    <mat-icon fontIcon="home">
  
    </mat-icon>

    <hr>
<mat-icon  fontIcon="edit" aria-hidden="false" aria-label="Example thumbs up SVG icon">

</mat-icon>
<hr>
<mat-icon  fontIcon="delete"></mat-icon>
<hr>
<mat-icon fontIcon="account_balance" ></mat-icon>
<hr>
<mat-icon fontIcon="date_range" ></mat-icon>
<hr>
<mat-icon fontIcon="fingerprint" ></mat-icon>
<hr>
<mat-icon fontIcon="remove_shopping_cart" ></mat-icon>
<hr>
<mat-icon fontIcon="flag" ></mat-icon>

</div>
<hr>
<button class="margin" mat-raised-button color="primary" (click)="gotoinput()">go to input</button>

