<div style="margin:50px">
    
    
    <button mat-button color="accent">Basic Buttons</button>
    <hr>
    <button mat-stroked-button color="primary">mat stroked buttons</button>
    <hr>
    
    <button mat-flat-button color="warn">Flat Buttons</button>
    <hr>
   
    <button style="margin: 15px;" mat-raised-button color="primary">Raised Buttons</button>
    <button mat-raised-button color="accent">Raised Buttons</button>
    <hr>
    <button mat-fab color="primary">fab btn</button>
    <hr>
    <button mat-mini-fab>mini</button>
    <hr>
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon"> <mat-icon>home</mat-icon></button>
    <hr>
    <button style="margin: 15px;" mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
        <mat-icon>bookmark</mat-icon>
      </button>
      <button mat-mini-fab color="warn" aria-label="Example icon button with a plus one icon">
        <mat-icon>plus_one</mat-icon>
      </button>
      <hr>
      <button mat-raised-button color="primary" (click)="onproceed()">Proceed to next page</button>
</div>

