<mat-nav-list>
    <a mat-list-item [routerLink]="['/tooltip']" (click)="dismissshit()">
        <span matListItemTitle >Sports</span>
        <span matListItemLine >Cricket</span>
    </a>
    <a mat-list-item  [routerLink]="['/tooltip']" (click)="dismissshit()">
        <span matListItemTitle >Sports</span>
        <span matListItemLine>tennise</span>
    </a>
    <a mat-list-item  [routerLink]="['/tooltip']" (click)="dismissshit()">
        <span matListItemTitle >Sports</span>
        <span matListItemLine>hockey</span>
    </a>
    <a mat-list-item  [routerLink]="['/tooltip']" (click)="dismissshit()">
        <span matListItemTitle >Sports</span>
        <span matListItemLine>football</span>
    </a>
</mat-nav-list>
